.fkjs-page-header {
    border-bottom: 1px solid $color-grey-200;
    height: 81px;
}

.fkjs-page-header .md-button {
    background-color: #FFF;
    font-size: $font-size-xnormal;
    border-radius: 0 15% 15% 0;
    padding: 3px 3px 3px 1px;
    font-weight: bold;
    border: $border;
    margin: 27px 0 0 0;
    min-width: initial;
    height: 16px;
}

.fkjs-page-header-text {
    margin-left: 11px;
    font-size: $font-size-large;
    text-transform: uppercase;
    line-height: 60px;
    padding-top: 15px;
}