<md-content layout="column" class="md-padding" flex>
    <div layout="row" layout-margin>

        <floating-panel data-title="About This Template" flex="25" hide-settings-tool="true">
            <md-content class="md-padding simple-bg">
                <p>
                    A mini application template to be used with <a href="https://github.com/FreeKernelJS/generator-freekerneljs">FreeKernelJS Generator</a>.
                    <br/>
                    This app uses AngularJS as the MVC framework.
                </p>
                <p>
                    The theme mechanism, and all the reusable UI components in this application, is part of the Material Design project for AngularJs. 
                    Further information and demos can be found here: <a href="https://material.angularjs.org" target="_blank">Angular Material</a>
                </p>
                <p>
                    Please note that <strong>Angular Material is still under development</strong> and hasn't been officially released yet.
                </p>
            </md-content>
        </floating-panel>
        
    </div>
</md-content>